<body>
  <label> Search: <input ng-model="searchText.title" /> </label>
  <a class="listbutton" href="#/list"><button>List View</button></a>
<div class="buttons">
    <button class="button small" ng-click="filter(genre.Action)">Action</button>
    <button class="button small" ng-click="sortBy()">Adventure</button>
    <button class="button small" ng-click="sortBy()">Animation</button>
    <button class="button small" ng-click="sortBy()">Biography</button>
    <button class="button small" ng-click="sortBy()">Comedy</button>
    <button class="button small" ng-click="sortBy()">Crime</button>
    <button class="button small" ng-click="sortBy()">Drama</button>
    <button class="button small" ng-click="sortBy()">Family</button>
    <button class="button small" ng-click="sortBy()">Fantasy</button>
    <button class="button small" ng-click="sortBy()">Film-Noir</button>
    <button class="button small" ng-click="sortBy()">History</button>
    <button class="button small" ng-click="sortBy()">Mystery</button>
    <button class="button small" ng-click="sortBy()">Romance</button>
    <button class="button small" ng-click="sortBy()">Sci-Fi</button>
    <button class="button small" ng-click="sortBy()">Sport</button>
    <button class="button small" ng-click="sortBy()">Thriller</button>
    <button class="button small" ng-click="sortBy()">War</button>
    <button class="button small" ng-click="sortBy()">Western</button>
  </div>

<!--<div ng-repeat="m in movies | filter:searchText | orderBy:genre:reverse">
  {{ m.title }}
</div>-->
<div class ="thumb columns small-12 medium-6 large-3 text-center" ng-repeat="m in movies | filter:searchText | filter:genre | orderBy:propertyName:reverse">
  <a href="#/details/{{m.rank}}"><img class="poster" ng-src="../data/images/{{m.imdbID}}.jpg"></img></a>
  <div class="title">{{ m.title }}</div>
</div>
</body>
